# MongoDB Atlas
MONGODB_URL=mongodb+srv://praveen:Praveen123@cluster0.kpce5q8.mongodb.net/youtube_clone?retryWrites=true&w=majority

# JWT
SECRET_KEY=3f67637dc0f923cbf3587cc495ad03b40084ca7b1683cabb8ccafc2d8fd48a6a
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtjdkwhdv
CLOUDINARY_API_KEY=672245583413327
CLOUDINARY_API_SECRET=1-iLCBUpCJvPDYU87WmHOO0TdQs

# App
FRONTEND_URL=http://localhost:5173
